build/
server/
node_modules/
test/integration/screenshots-current
yarn.lock
.DS_Store
*~
\#*
npm-debug.log
src/text/wilhelm.js
src/text/wilhelm-baynes.js
src/text/wilhelm-google.js
src/text/legge.js
src/text/yizhou.js
text-wilhelm.txt
text-wilhelm-google.xml
