build/
node_modules/
test/integration/screenshots-current
yarn.lock
.DS_Store
*~
\#*
text-wilhelm.js
text-wilhelm-baynes.js
text-wilhelm-google.js
text-legge.js
text-yizhou.js
text-wilhelm.txt
text-wilhelm-google.xml
